*{
    padding: 0;
    margin:0;
}
body{
    direction: rtl;
    height: 100%;
    }
/*.all{
    position: relative;
    min-height: 100%
}*/

.menu, .foot{
  background-color: #9C8B8B;
  text-align: center;
  width: 100%;
}
.menu{
    height: 110px;
    position: relative;
}
.menu .logo{
    position: absolute;
    display:block;
    bottom: -25px;
    right: 450px;
    z-index: 50;
}
.menu ul{
    position: relative;
}
.menu .formKeyWord{
    color: white;
    font-weight: bold;
    

}

/*прячем подменю*/
.menu ul ul{
    display: none;
    position: absolute;
}
/*выстраиваем по горизонтали*/
.menu ul li{
    display: inline-block;
}

.menu ul li ul{
    list-style-type: none;
    text-align: right;
}

.menu ul li ul li {
    display: list-item;
}


.menu ul li a{
    list-style: none;
    text-decoration: none;
    color: white;
    margin: 10px;
    font-weight: bold; 
   
}
.listMenu ul li:hover ul{
    display: block;
}

.foot{
  height: 56px;
  position: fixed;
  bottom: 0;
  
}
.foot ul li{
    display: inline-block;
    
}
.foot ul li a{
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin: 10px;
    
}
.del{
    color:white;
    margin: 3px;
}

.row{
    margin-top: 30px;
    
}

.content {
  width: 980px;
  margin: auto;
 
 }

.column {
    float: right;
    width: 33.3%;
 }


.inside_pic{
    position: relative;
    top: 330px;
    left: -10px;
    width: 70%;
    background-color: #9C8B8B;
    color: white;
    font-size: 0.9em;
}
.inside_pic a{
    color: white;
    font-weight: bold;
    text-align: left;
}
